{% extends "account/base_manage_email.html" %}

{% load static allauth i18n %}

{% block content %}

<c-container>
    {% if can_add_email %}
        {% element h2 %}
            {% trans "Add Email Address" %}
        {% endelement %}
        <c-form action="{% url view_url component=name %}" method="post">
            <c-button.filled type="submit" name="action_add">{% trans "Add Email" %}</c-button.filled>
        </c-form>
    {% endif %}
</c-container>


{% endblock content %}

{% block extra_body %}
    <script src="{% static 'account/js/account.js' %}"></script>
    <script src="{% static 'account/js/onload.js' %}"></script>
    <script data-allauth-onload="allauth.account.forms.manageEmailForm" type="application/json">{
    "i18n": {"confirmDelete": "{% trans 'Do you really want to remove the selected email address?' %}"}
}
    </script>
{% endblock extra_body %}
