{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
  <div class="flex flex-col w-full items-center">
    <h2 class="text-2xl font-bold text-base-content">{% trans "Sign In" %}</h2>
  </div>

  <div class="h-4 w-4 invisible"></div>

  {% if not SOCIALACCOUNT_ONLY %}
    {% url 'account_login' as login_url %}
    <form method="post" action="{{ login_url }}" class="space-y-4 w-full">
      {% csrf_token %}
      {% for error in form.non_field_errors %}
      <div role="alert" class="mb-2 alert alert-error">
        <div class="text-sm">{{ error }}</div>
      </div>
      {% endfor %}
      <div class="space-y-2">
        {% for field in form.visible_fields %}
        <div>
          {% if field.errors %}
          {% for error in field.errors %}
          <div role="alert" class="mb-2 alert alert-error">
            <div class="text-sm">{{ error }}</div>
          </div>
          {% endfor %}
          {% endif %}
          <div class="form-control">
            <label class="label" for="{{ field.id_for_label }}">
              <span class="label-text">{{ field.label }}</span>
            </label>
            <input
              type="{{ field.field.widget.input_type }}"
              name="{{ field.html_name }}"
              id="{{ field.id_for_label }}"
              value="{{ field.value|default_if_none:'' }}"
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none text-sm"
              {% if field.field.required %}required{% endif %}
            >
          </div>
        </div>
        {% endfor %}
      </div>

      {{ redirect_field }}

      <p class="text-sm text-gray-600 text-right">
        <a href="{% url 'account_reset_password' %}" class="text-base-content hover:underline">
          {% trans "Forgot password?" %}
        </a>
      </p>

      <button type="submit" class="w-full btn btn-primary">
        {% trans "Sign In" %}
      </button>
    </form>
  {% endif %}


  {% if onboarding_type != "invite_only" %}

    <div class="h-4 w-4 invisible"></div>
    <p class="text-sm text-gray-600 text-center">
      {% trans "Don't have an account?" %} <a href="{{ signup_url }}" class="text-primary hover:underline">{% trans "Sign up" %}</a>.
    </p>
  {% endif %}

  {% if SOCIALACCOUNT_ENABLED %}
    {% include "socialaccount/snippets/login.html" with signup=False %}
  {% endif %}

{% endblock content %}
