{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
  <c-layout.stack justify="center">
    <c-header.large>{% trans "Sign In" %}</c-header.large>
  </c-layout.stack>

  <c-layout.spacer.small/>

  {% if not SOCIALACCOUNT_ONLY %}
    {% url 'account_login' as login_url %}
    <c-form method="post" action="{{ login_url }}" fields=form.visible_fields>
      
      {{ redirect_field }}

      <c-text.small justify="right">
          <c-link href="{% url 'account_reset_password' %}" colour="base-content">
            {% trans "Forgot password?" %}
          </c-link>
      </c-text.small>

      <c-button.block type="submit" colour="primary">
        {% trans "Sign In" %}
      </c-button.block>
    </c-form>
  {% endif %}


  {% if onboarding_type != "invite_only" %}

    <c-layout.spacer.small/>
    <c-text.small justify="center">
      {% trans "Don't have an account?" %} <c-link href="{{ signup_url }}" colour="primary">{% trans "Sign up" %}</c-link>.
    </c-text.small>
  {% endif %}

  {% if SOCIALACCOUNT_ENABLED %}
    {% include "socialaccount/snippets/login.html" with signup=False %}
  {% endif %}

{% endblock content %}
