{% extends "account/base_entrance.html" %}
{% load allauth i18n %}

{% block head_title %}
  {% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
  <c-layout.stack justify="center">
    <c-header.large>{% trans "Sign Out" %}</c-header.large>
    <c-layout.spacer.small/>
    <c-text.small>
      {% trans "Are you sure you want to sign out?" %}
    </c-text.small>
  </c-layout.stack>

  <c-layout.spacer.small/>
    <c-layout.hstack justify="center">
        <c-button.outline href="/">
            {% trans "Cancel" %}
        </c-button.outline>
        <c-layout.spacer.small/>
        {% url 'account_logout' as action_url %}
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ redirect_field }}

            <c-button.filled type="submit" colour="primary">
                {% trans "Sign Out" %}
            </c-button.filled>
        </form>
        
    </c-layout.hstack>
{% endblock content %}
