{% extends "account/base_entrance.html" %}
{% load allauth i18n %}

{% block head_title %}
  {% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
  <div class="flex flex-col w-full items-center">
    <h2 class="text-2xl font-bold text-base-content">{% trans "Sign Out" %}</h2>
    <div class="h-4 w-4 invisible"></div>
    <p class="text-sm text-gray-600">
      {% trans "Are you sure you want to sign out?" %}
    </p>
  </div>

  <div class="h-4 w-4 invisible"></div>
  <div class="flex flex-row justify-center">
    <a href="/" class="btn btn-outline">
      {% trans "Cancel" %}
    </a>
    <div class="h-4 w-4 invisible"></div>
    {% url 'account_logout' as action_url %}
    <form method="post" action="{{ action_url }}">
      {% csrf_token %}
      {{ redirect_field }}

      <button type="submit" class="btn btn-primary">
        {% trans "Sign Out" %}
      </button>
    </form>
  </div>
{% endblock content %}
