{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
  <c-layout.stack justify="center">
    <c-header.large>
      {% if token_fail %}
        {% trans "Bad Token" %}
      {% else %}
        {% trans "Change Password" %}
      {% endif %}
    </c-header.large>
    <c-layout.spacer.small/>
    {% if token_fail %}
      <c-text.small>
        {% url 'account_reset_password' as passwd_reset_url %}
        {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please <a href="{{ passwd_reset_url }}" class="text-blue-600 hover:underline">request a new password reset</a>.{% endblocktrans %}
      </c-text.small>
    {% else %}
      <c-form method="post" action="{{ action_url }}" fields=form.visible_fields>
        {% csrf_token %}
        {{ redirect_field }}
        {{ form.non_field_errors }}

        <c-button.block type="submit" colour="primary">
          {% trans "Change Password" %}
        </c-button.block>

        <c-button.ghost type="submit"
                form="logout-from-stage"
                class="w-full text-center text-sm text-gray-500 hover:underline mt-2">
          {% trans "Cancel" %}
        </c-button.ghost>
      </c-form>
    {% endif %}
  </c-layout.stack>

  {% if not cancel_url %}
    <form id="logout-from-stage"
          method="post"
          action="{% url 'account_logout' %}">
      <input type="hidden" name="next" value="{% url 'account_login' %}">
      {% csrf_token %}
    </form>
  {% endif %}
{% endblock content %}
