{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}
  {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
  <c-layout.stack justify="center">
    <c-header.large>{% trans "Reset your password" %}</c-header.large>
    <c-layout.spacer.small/>
    <c-text.small justify="center">
      {% trans "Forgotten your password? Enter your email and we’ll send you a reset link." %}
    </c-text.small>
    <c-layout.spacer.small/>

    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    {% url 'account_reset_password' as reset_url %}

    <c-form method="post" action="{{ action_url }}" fields=form.visible_fields >
        
      {{ redirect_field }}

      <c-button.block type="submit" colour="primary">
        {% trans "Reset My Password" %}
      </c-button.block>
    </c-form>

    <c-layout.spacer.small/>
    <c-text.small>
      <c-link href="{% url 'account_login' %}" colour="base-content">← {% trans "Back to login" %}</c-link>
    </c-text.small>

    <c-layout.spacer.small/>
    <c-text.xs justify="center">
      {% trans "Please contact us if you have any trouble resetting your password." %}
    </c-text.xs>
  </c-layout.stack>
{% endblock content %}
