{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block head_title %}
  {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
  <c-layout.stack justify="center">
    <c-header.large>{% trans "Password Reset" %}</c-header.large>
    <c-layout.spacer.small/>
    <c-text.small justify="center">
      {% blocktrans %}We’ve sent you an email. If you haven’t received it, check your spam folder. Otherwise, contact us if it doesn’t arrive in a few minutes.{% endblocktrans %}
    </c-text.small>

    <c-layout.spacer.small/>

    <c-text.small justify="center">
      <c-link href="{% url 'account_login' %}" colour="base-content">← {% trans "Back to login" %}</c-link>
    </c-text.small>
    <c-layout.spacer.small/>
    <c-text.xs justify="center">
      {% trans "Please contact us if you have any trouble resetting your password." %}
    </c-text.xs>
  </c-layout.stack>
{% endblock content %}
