{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block head_title %}
  {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
  <div class="flex flex-col w-full items-center">
    <h2 class="text-2xl font-bold text-base-content">{% trans "Password Reset" %}</h2>
    <div class="h-4 w-4 invisible"></div>
    <p class="text-sm text-gray-600 text-center">
      {% blocktrans %}We've sent you an email. If you haven't received it, check your spam folder. Otherwise, contact us if it doesn't arrive in a few minutes.{% endblocktrans %}
    </p>

    <div class="h-4 w-4 invisible"></div>

    <p class="text-sm text-gray-600 text-center">
      <a href="{% url 'account_login' %}" class="text-base-content hover:underline">← {% trans "Back to login" %}</a>
    </p>
    <div class="h-4 w-4 invisible"></div>
    <p class="text-xs text-gray-600 text-center">
      {% trans "Please contact us if you have any trouble resetting your password." %}
    </p>
  </div>
{% endblock content %}
