{% extends "account/base_entrance.html" %}
{% load allauth i18n %}

{% block head_title %}
  {% trans "Sign Up" %}
{% endblock head_title %}

{% block content %}
  <c-layout.stack justify="center">
    <c-header.large>{% trans "Sign Up" %}</c-header.large>
    <c-layout.spacer.small/>
    <c-text.small>
      {% trans "Already have an account?" %} <c-link href="{{ login_url }}" colour="primary">{% trans "Sign in" %}</c-link>.
    </c-text.small>
  </c-layout.stack>

  <c-layout.spacer.small/>

  {% if not SOCIALACCOUNT_ONLY %}
    {% url 'account_signup' as action_url %}
    <c-form method="post" action="{{ action_url }}" fields=form.visible_fields >
      
      {{ redirect_field }}

      <c-button.block type="submit" colour="primary">
        {% trans "Sign Up" %}
      </c-button.block>
    </c-form>
  {% endif %}

  {% if SOCIALACCOUNT_ENABLED %}
    {% include "socialaccount/snippets/login.html" with signup=True %}
  {% endif %}
  
{% endblock content %}
