{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
  {% trans "Verify Your Email Address" %}
{% endblock head_title %}

{% block content %}
  <div class="flex flex-col w-full items-center">
    <h2 class="text-2xl font-bold text-base-content">
      {% trans "Verify Your Email Address" %}
    </h2>
    <div class="h-4 w-4 invisible"></div>
    <p class="text-sm text-gray-600 text-center">
      {% blocktrans %}
        We've sent you a verification link. Check your email (and spam folder) to complete your signup.
        Contact us if it doesn't show up soon.
      {% endblocktrans %}
    </p>

    <div class="h-4 w-4 invisible"></div>
    <p class="text-sm text-gray-600 text-center">
      <a href="{% url 'account_login' %}" class="text-base-content hover:underline">← {% trans "Back to login" %}</a>
    </p>
    <div class="h-4 w-4 invisible"></div>
    <p class="text-xs text-gray-600 text-center">
      {% trans "Please contact us if you have any trouble verifying your email." %}
    </p>
  </div>
{% endblock content %}
