<div class="h-full flex flex-col">
    <div class="tabs tabs-box flex-1 min-h-0">

      <input type="radio" name="my_tabs_{{ message.id }}" class="tab" aria-label="Info" checked="checked"/>
        <div class="tab-content bg-base-100 border-base-300 p-6 overflow-y-auto">
          <ul class="list-disc pl-6">
            <li><strong>Tokens:</strong> 123</li>
            <li><strong>Created at:</strong> {{ message.created_at }}</li>
            <li><strong>Model:</strong> {{ message.model }}s</li>
          </ul>
        </div>

        <input type="radio" name="my_tabs_{{ message.id }}" class="tab" aria-label="System prompt"/>
        <div class="tab-content bg-base-100 border-base-300 p-6 overflow-y-auto">
          {{ message.system_prompt|linebreaks }}
        </div>

        <input type="radio" name="my_tabs_{{ message.id }}" class="tab" aria-label="Messages"/>
        <div class="tab-content bg-base-100 border-base-300 p-6 overflow-y-auto">
          <ul class="list bg-base-100 rounded-box shadow-md">
            {% for message in message.messages %}
              {% include 'chat/partials/analysis_list_item.html' with title=message.role|capfirst content=message.content %}
            {% endfor %}
          </ul>
        </div>

        <input type="radio" name="my_tabs_{{ message.id }}" class="tab" aria-label="Memories"
          {% if not message.memories %}disabled{% endif %}
        />
        <div class="tab-content bg-base-100 border-base-300 p-6 overflow-y-auto">
          <ul class="list bg-base-100 rounded-box shadow-md">
            {% for mem in message.memories %}
              {% include 'chat/partials/analysis_list_item.html' with title=mem.data.created_at content=mem.data.memory %}
            {% endfor %}
          </ul>
        </div>

        <input type="radio" name="my_tabs_{{ message.id }}" class="tab" aria-label="Thoughts" 
          {% if message.thoughts %}{% else %}disabled{% endif %}
        />
        <div class="tab-content bg-base-100 border-base-300 p-6 overflow-y-auto">
          <ul class="list bg-base-100 rounded-box shadow-md">
            {% for thought in message.thoughts %}
              {% include 'chat/partials/analysis_list_item.html' with title=thought.created_at content=thought.content %}
            {% endfor %}
          </ul>
        </div>

        <input type="radio" name="my_tabs_{{ message.id }}" class="tab" aria-label="Tool use" 
          {% if message.tool_uses %}{% else %}disabled{% endif %}
        />
        <div class="tab-content bg-base-100 border-base-300 p-6 overflow-y-auto">
          <ul class="list bg-base-100 rounded-box shadow-md">
            {% for tool_use in message.tool_uses %}
              {% include 'chat/partials/analysis_list_item.html' with title=tool_use.created_at content=tool_use %}
            {% endfor %}
          </ul>
        </div>
    </div>
</div>