<div class="card bg-base-100 shadow-sm m-3">
    <div class="card-body">
        <div class="card-actions justify-end">
            <h2 class="card-title mr-auto">Organisation</h2>
            <button type="button" class="btn btn-primary" hx-get="{% url 'users:new_organisation' %}" hx-target="#inner-content" hx-swap="innerHTML" hx-trigger="click">New Organisation</button>
            <button type="button" class="btn btn-primary" hx-get="{% url 'users:change_organisation' %}" hx-target="#inner-content" hx-swap="innerHTML" hx-trigger="click">Change Organisation</button>
        </div>
        <form method="post" hx-target="#inner-content" class="space-y-4 w-full">
            {% csrf_token %}
        </form>
    </div>
</div>
