{% load i18n %}

<div class="card bg-base-100 shadow-sm m-3">
    <div class="card-body">
        <div class="card-actions justify-end">
            <h2 class="card-title mr-auto">{% trans "Update User" %}</h2>
        </div>
        <form action="{% url 'users:account_settings' component='details2' %}" method="post" class="space-y-4 w-full">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div>
                {% if field.errors %}
                {% for error in field.errors %}
                <div role="alert" class="mb-2 alert alert-error">
                    <div class="text-sm">{{ error }}</div>
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-control">
                    <label class="label" for="{{ field.id_for_label }}">
                        <span class="label-text">{{ field.label }}</span>
                    </label>
                    <input
                        type="{{ field.field.widget.input_type }}"
                        name="{{ field.html_name }}"
                        id="{{ field.id_for_label }}"
                        value="{{ field.value|default_if_none:'' }}"
                        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none text-sm"
                        {% if field.field.required %}required{% endif %}
                    >
                </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
        </form>
    </div>
</div>
