{% load i18n %}

<div class="card bg-base-100 shadow-sm m-3">
    <div class="card-body">
        <div class="card-actions justify-end">
            <h2 class="card-title mr-auto">{% trans "Update User" %}</h2>
        </div>
        <form action="{% url 'users:account_settings' component='details2' %}" method="post" class="space-y-4 w-full">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div>
                {% include "snippets/form_field.html" %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
        </form>
    </div>
</div>
